<div class="article-card bg-white shadow mb-6 hover:shadow-xl transition-shadow duration-200">
	{{ with .Params.Image }}<img class="article-picture" src="{{ relURL . }}">{{ end }}
	<div class="article-card-container p-6">
		<p class="text-xl font-light text-gray-600 text-center">{{ .Params.Schedule }}</p>
		<h2 class="article-title text-center text-blue-800 text-2xl font-bold mb-3">{{ .Title }}</h2>
		<div class="prose prose-md max-w-none">
			{{ .Content }}			
		</div>
	</div>		
</div>