<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	{{- partial "head.html" . -}}
</head>
<body class="flex flex-col min-h-screen bg-gray-300">
	{{- partial "navbar.html" . -}}
	<main class="flex-1">
		{{- block "main" . }}{{- end }}
	</main>
	{{- partial "footer.html" . -}}
</body>
</html>