{{ define "main" }}

<div class="w-full h-screen">
	<img src="{{ relURL .Params.Image }}" alt="" class="w-full h-full fixed" style="object-fit: cover; z-index: -10;">
</div>

{{- partial "content.html" . -}}

<div class="bg-gray-300 mt-20 py-20 px-10">
	<div class="container w-full md:w-10/12 lg:w-8/12 mx-auto">
		<h2>Novedades</h2>
		{{ range (where site.RegularPages "Type" "in" site.Params.mainSections) }}
			{{ .Render "li" }}
		{{ end }}
	</div>
</div>

{{ end }}