<div class="article-card bg-white shadow mb-6 hover:shadow-xl transition-shadow duration-200">
	<a href="{{ relURL .Permalink }}">
		{{ with .Params.Image }}<img class="article-picture w-full" src="{{ relURL . }}" style="height: 200px; object-fit: cover;">{{ end }}
		<div class="article-card-container p-6">
			{{ with .Params.Date }}
				<h2 class="article-meta text-gray-500 text-sm -mb-2">{{- partial "date.html" . -}}</h2>
			{{ end }}
			<h2 class="article-title text-blue-800 text-2xl font-bold mb-3">{{ .Title }}</h2>
			<p class="article-summary text-gray-800">{{ .Summary }}</p>
		</div>		
	</a>
</div>