{{ define "main" }}
	
{{- partial "banner.html" . -}}

{{- partial "content.html" . -}}

<div class="bg-gray-100 mt-20 py-20 px-10">
	<div class="container w-full md:w-10/12 mx-auto md:grid md:gap-5 lg:grid-cols-2">
		{{ range .Pages }}
			{{ .Render "li" }}
		{{ end }}	
	</div>
</div>

{{ end }}