.menu {
	@apply absolute w-full bg-blue-900 bg-opacity-50 text-white px-10 flex flex-row align-baseline z-10
}

.menu-item {
	@apply px-2 py-4 transition-all duration-300;
}

.menu-item:hover {
	@apply bg-blue-700 bg-opacity-75
}

.menu-item.active {
	@apply font-bold
}