{{ with .Params.Image }}
	<div class="w-full" style="height: 70vh">
		<img class="article-picture w-full h-full" src="{{ relURL . }}" style="object-fit: cover;">
	</div>
{{ else }}
	<div class="w-full bg-gray-800" style="height: 20vh"></div>
{{ end }}
