<article class="md:w-10/12 md:-mt-10 md:mb-10 md:mx-auto lg:w-8/12 lg:-mt-16 lg:mb-16 relative bg-white rounded">
	<div class="prose prose-lg max-w-none md:pt-12 p-6">
		{{ with .Params.Date }}
			<p class="article-meta text-gray-500 text-center">{{- partial "date.html" . -}}</p>
		{{ end }}

	    <h1 class="font-serif text-center">{{ .Title }}</h1>
	    {{ .Content }}		
	</div>
</article>
