<footer class="w-full text-center bg-white p-20 text-xs text-gray-500 leading-8">
	<img src="{{ relURL "/images/logo-vector.svg" }}" class="w-24 h-24 inline-block" style="object-fit: contain;">
    <p>
    	&copy; {{ now.Format "2006"}} {{ .Site.Title }}
    	|
    	Actualizado {{ now.Format "02/01/2006 15:04" }}
    </p>
    <p>
    	<a href="{{ relURL "/colaboracion" }}" class="hover:underline">Colaboración</a>
    	|
    	<a href="{{ relURL "/admin" }}" class="hover:underline">Administración</a>
    </p>
</footer>