<div class="menu">    
    <a href="{{ .Site.BaseURL }}" class="menu-item text-lg">{{ .Site.Title }}</a>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
    	<a class="menu-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}underline{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
</div>
